@font-face {
    font-family: 'Pokémon';
    src: url('../assets/fonts/PKMN-RBYGSC.woff') format('woff');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-password-box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.reset-password-box h2 {
    font-family: 'Pokémon', sans-serif;
    color: white;
}

.reset-password-box p {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reset-password-box input {
    height: 27px;
    width: calc(100% - 70px);
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px; 
    border-radius: 7px;
}

.SubmitButton {
    all: unset;
    background: #005BBB;
    width: 220px;
    padding: 8px 16px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    color: #FFF;
    transition: background .15s ease, border .15s ease;
    cursor: pointer;
    border: 2px solid #005BBB;
    border-radius: 4px;
    outline: 0;
    margin-top: 20px; 
}

.placeholder {
    font-family: 'Pokémon', sans-serif;
}

.forgot-password {
    margin-top: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: white;
}
