.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*max-width: 600px;*/
    margin: auto;
    background: transparent;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-bottom: 15%;
}
.header img{
    
    height: 150px;
}

.inputs{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    /*width: 90%;
    max-width: 480px;
    height: 60px;*/
    background: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password span{
    font-size: 100%;
    font-weight: bold;
    color: rgba(255, 255, 255);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    text-decoration: underline;
    cursor: pointer;
    align-items: center;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #005BBB;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #eaeaea;
    color: #676767;
}
.text{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}
.SubmitButton {
all: unset;
background:  #005BBB;
width: 220px;
padding: 8px 16px;
margin: 0;
margin-bottom: 10px;
text-align: center;
font-size: 14pt;
font-size: bold;
color: #FFF;
transition: background .15s ease, border .15s ease;
cursor: pointer;
-webkit-appearance: none;
appearance: none;
-Webkit-borderRadius: 0;
border: 2px solid  #005BBB;
border-radius: 4px;
outline: 0;
}
.error {
    background-color: #eaeaea;
    opacity: 0.7;
    font-size: 12px;
    font-weight: bolder;
    font-family: Arial, sans-serif; 
}