#defiPng {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
}

#pokemyst img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 27%;
    height: auto;
    transition: transform 0.3s;
}

#silhouette img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 17%;
    height: auto;
    transition: transform 0.3s;
}

#carte img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    height: auto;
    transition: transform 0.3s;
}

#desc img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    height: auto;
    transition: transform 0.3s;
}

#pokemyst img:hover,
#silhouette img:hover,
#carte img:hover,
#desc img:hover {
    transition: transform 0.3s;
    transform: scale(1.2);
}

#pokemyst,
#silhouette,
#carte,
#desc{
    margin-bottom: 20px;
}