.myform{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh; /* This makes the container take up the full height of the viewport */
}
.myinput {
    width: 220px;
    padding: 8px 16px;
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    margin-right: 1%;
  }
.mybutton{
    all: unset;
    background:  #005BBB;
    align-items: center;
    width: 220px;
    padding: 8px 16px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14pt;
    font-size: bold;
    color: #FFF;
    transition: background .15s ease, border .15s ease;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    -Webkit-borderRadius: 0;
    border: 2px solid  #005BBB;
    border-radius: 4px;
    outline: 0;
    }