@font-face {
    font-family: 'Pokémon';
    src: url('../assets/fonts/PKMN-RBYGSC.woff') format('woff');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forget-password-box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 400px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 5%;
}

.forget-password-box h2 {
    font-family: 'Pokémon', sans-serif;

    color: white;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.forget-password-box p {
    font-family: 'Pokémon', sans-serif;

    color: white;
    margin-top: 150px;
    font-size: 12px;
}

.forget-password-box input {
    font-family: 'Pokémon', sans-serif;
    height: 27px;
    width: calc(100% - 70px);
    padding: 10px;
    border-radius: 7px;
    position: relative;
    top: 40px; 
}

.SubmitButton {
    all: unset;
    background: #005BBB;
    width: 220px;
    padding: 8px 16px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    color: #FFF;
    transition: background .15s ease, border .15s ease;
    cursor: pointer;
    border: 2px solid #005BBB;
    border-radius: 4px;
    outline: 0;
    position: relative;
    bottom: -70px; 
}


.SubmitButton:hover {
    background-color: #003E7E;
}

.cadenas-image {
    width: 120px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.placeholder {
    font-family: 'Pokémon', sans-serif;

}
.forgot-password{

    position: relative;
    bottom: -150px;
}

