@font-face {
    font-family: 'PKMN RBYGSC';
    /* src: url('../../assets/fonts/PKMN\ RBYGSC.woff') format('truetype'); */
    src : url('../../assets/fonts/PKMN-RBYGSC.woff') format('truetype');
}


p {
    font-family: 'PKMN RBYGSC';
}

.pokedexBg {
    background-color: #EF0D0D;
    width: 1400px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    /* Les éléments fils seront alignés en colonne*/
    border-radius: 45px;
    position: relative;
}
.popup {
    position: fixed; /* Utilisation de position: fixed pour qu'il reste à l'écran même en cas de défilement */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour un effet de superposition */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999; /* Assurez-vous que le pop-up apparaît au-dessus de tous les autres éléments */
}
.detailCloseButton {
    background: none;
    border: none;
    font-family: 'PKMN RBYGSC';
    font-size: 20px;
    color: #ffffff; 
    text-shadow: 0 0 5px black;
}

.popupContent {
    width: 300px;
    height: 200px;
    display: flex;
    background-color: #0DADEF;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #FFCC01 solid 20px;
    border-radius: 50px;
}

.popupContent p {
    text-align: center;
}

.popupPlacement {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'PKMN RBYGSC';
    color: #ffffff; 
    text-shadow: 0 0 5px black;
    flex-wrap: wrap;
}

.anwser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.anwser img {
    width: 50px;
    height: 50px;
}

.pokedexTop {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 12%;
}

.returnButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 10%;
}

.circle-1 {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 600px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-2 {
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 500px;
    border: 2px solid black;
    background-color: #0DADEF;
}

.mainContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}

.pokemonTab {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 97.5%;
    margin-left: 1%;
}

.sideComponent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    margin-right: 1%;
    gap: 3%;
}

.pokemonTabHeader {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 10%;
    /* Augmentation de la hauteur pour inclure l'ombre */
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    z-index: 1;
}
.headerText {
    width: 97%;
    display: grid;
    grid-template-columns: repeat(9,11.1%);
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.colNames {
    display: flex;
    justify-content: center; 
    align-items: center;
    place-self: center;
}

.colNames p {
    font-size: 0.8em;
    flex-grow: 1;
    text-align: center;
}

.pokemonTabHeader::after {
    content: "";
    position: absolute;
    bottom: -9%;
    /* Ajustez la position de l'ombre selon vos préférences */
    left: 0.5%;
    width: 99%;
    height: 4px;
    /* Hauteur de l'ombre */
    background: rgba(0, 0, 0, 0.3);
    /* Couleur de l'ombre */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Ajout de l'ombre */
}

.pokemonTabContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 77.5%;
    background-color: #0DADEF;
    border-left: solid white 3px;
    border-right: solid white 3px;
    overflow-y: auto;
}

.dynamic-div {
    background-color: #FFCC01;
    border-radius: 10px;
    width: 97%;
    display: grid;
    grid-template-columns: repeat(9,11.1%);
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    border: #000000 4px solid;
}

.bgAnswserCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.answerCard {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffffff;
    border: 3px solid #000000;
    width: 80%;
    height: 80%;
    animation: flipIn 0.7s ; /* Applique l'animation de rotation lors de l'apparition */
}


/* Ajout de cette classe pour retourner la carte au départ */
.answerCard.reverse {
    transform: rotateY(0deg);
}

.answerCard span {
    font-size: 0.8em;
    font-family: 'PKMN RBYGSC';
}

.sprite {
    width: 105%;
    height: 105%; 
}

.pokemonTabFooter {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: white;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
.details {
    position: relative;
    width: 10%;
    height: 90%;
    right: 1%;
}
.detailsButton {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.details img {
    background-image: url('../../assets/images/pokedexButton.png');
    display: block;
    width: 100%;
    height: 100%;
  }

.redPoint {
    position: relative;
    background-color: red;
    height: 70%;
    width: 4%;
    border-radius: 100px;
    border: #000000 2px solid;
    left: 1%;
}

.pokemonTabFooter::after {
    content: "";
    position: absolute;
    bottom: 100%;
    /* Ajustez la position de l'ombre selon vos préférences */
    left: 0.5%;
    width: 99%;
    height: 4px;
    /* Hauteur de l'ombre */
    background: rgba(0, 0, 0, 0.3);
    /* Couleur de l'ombre */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Ajout de l'ombre */
}

.inputPokemon {
    border-image: url('../../assets/images/frame-input-hd.png') 42 round;
    border-width: 10px;
    height: 55%;
}

.spaceBar {
    height: 100%;
    width: 0.5%;
    background-color: #860000;
}

.sCPosition {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.ruleComponent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 55%;
    background-color: #0DADEF;
    border-radius: 50px;
    border: solid white 14px;
    text-align: center;
}

.rules {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ruleComponent p {
    width: 80%;
    font-size: 1em;
}

.hints {
    display: flex;
    justify-content: space-between;
}

.hints button {
    background: none;
    border: none;
}

#habitatHintId {
    filter: brightness(0);
}
.hints button:hover img {
    transform: scale(1.2); /* Agrandir l'image de 20% lorsqu'elle est survolée */
}

.hintText {
    display: flex;
    justify-content: space-evenly;
    gap: 15%;
}
.hintText p {
    font-family: white;
}

.pokemonDropDownList {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 30%;
    background-color: #0DADEF;
    border-radius: 50px;
    border: solid white 14px;
    margin-bottom: 4%;
    overflow-y: auto;
}

.pokemonDropDownList p {
    background-color: #FFCC01;
    /* Fond blanc */
    border: 2px solid #000000;
    /* Bordure noire */
    color: #000000;
    /* Couleur du texte */
    text-align: center;
    border-radius: 10px;
    height: auto;
    width: 80%;
}


@media screen and (max-width : 1470px) {
    .pokedexBg {
        width: 1024px;
    }
    .colNames p {
        font-size: 0.6em;
        flex-grow: 1;
        text-align: center;
    }
    .redPoint {
        width: 5.5%;
    }

    .ruleComponent p {
        width: 80%;
        font-size: 0.7em;
    }
}

@media screen and (max-width : 1024px) {
    .pokedexBg {
        width: 768px;
    }

    .sCPosition {
        width: 100%;
    }

    .ruleComponent p {
        width: 80%;
        font-size: 0em;
    }

    .hints {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .colNames p {
        font-size: 0.45em;
        flex-grow: 1;
        text-align: center;
    }

    .answerCard span {
        font-size: 0.5em;
        font-family: 'PKMN RBYGSC';
    }

    .redPoint {
        width: 7%;
    }
}

@media screen and (max-width : 770px) {
    .pokedexBg {
        width: 530px;
        height: 700px;
    }

    .mainContainer {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2%;
    }

    .pokemonTab {
        width: 95%;
        height: 55%;
        margin-left: 0%;
    }

    .pokedexTop {
        height: 8%;
    }

    .spaceBar {
        height: 1%;
        width: 85%;
    }

    .sideComponent {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
        gap: 0%;
        margin-bottom: 2%;
    }

    .ruleComponent {
        width: 40%;
        height: 80%;
    }

    .pokemonDropDownList {
        width: 40%;
        height: 80%;
        margin-bottom: 0%;
    }

    .pokemonTabFooter {
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
    }

    .redPoint {
        width: 5%;
    }

    .inputPokemon {
        height: 30%;
    }

    .pokedexTop {
        height: 8%;
        justify-content: center;
    }

    .circle-1 {
        width: 55%;
        height: 55%;
    }
    .sCPosition {
        flex-direction: row;
        gap: 4%;
    }
}

@keyframes flipIn {
    from {
        transform: rotateY(-90deg); /* Tourne la carte de -90 degrés au départ */
    }
    to {
        transform: rotateY(0deg); /* Tourne la carte à 0 degrés à la fin de l'animation */
    }
}