@font-face {
    font-family: 'PKMN RBYGSC';
    /* src: url('../../assets/fonts/PKMN\ RBYGSC.woff') format('truetype'); */
    src : url('../../assets/fonts/PKMN-RBYGSC.woff') format('truetype');
}

.infoMainContainer {
    display: flex;
    width: 80%;
    height: 70vh;
    background-color: red;
    border-radius: 50px;
    flex-direction: column;
}

.topBorderContainer {
    height: 10%;
    background-color: #f8f9fb;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: #ddd196 solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topBorderContainer span {
    font-family: 'PKMN RBYGSC';
}

.bottomBorderContainer {
    height: 10%;
    background-color: #f8f9fb;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: #ddd196 solid 3px;
}

.infoTabContainer {
    height: 80%;
    display: flex;
}

.leftBorderContainer {
    width: 10%;
    background-color: #dc5b3b;
}

.rightBorderContainer {
    width: 10%;
    background-color: #dc5b3b;
}

.profilContent {
    width: 80%;
    background-color: #e8e9eb;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
}

.profilPictureContent {
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.profilPicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #dc5b3b solid 2px;
    background-color: bisque;
}

.gridBox {
    width: 80%;
    height: 75%;
}

.gridContent {
    width: 100%;
    height:100%;
    display: flex;
}

.leftSide {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
}


.rightSide .gridCell {
    align-items: flex-end;
}

.gridCell {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gridCell span {
    font-family: 'PKMN RBYGSC';
    margin-left: 3%;
}

.gridCell2 span {
    font-family: 'PKMN RBYGSC';
    margin-left: 3%;
}

.value {
    width: 90%;
    height: 50%;
    border: black solid 1px;
    background-color: #f3f4f6;
    margin-top: 1%;
    border-radius: 10px;
    display: flex;
    align-items: center;  
}

.label {
    width: 90%;
}

@media screen and (max-width : 1000px) {
    .gridContent{
        flex-direction: column;
        align-items: center;
    }  
    .gridBox {
        width: 100%;
    } 
    .rightSide .gridCell {
        align-items: start;
    }
    .rightSide {
        align-items: center;
    }
    .leftSide {
        align-items: center;
    }
    .spliter {
        width: 40%;
        background-color: black;
        height: 30px;
        
    }
    

}