@font-face {
    font-family: 'PKMN RBYGSC';
    src: url('../../assets/fonts/PKMN-RBYGSC.woff') format('truetype');
  }
  
  body, h1, p, input[type="text"], button, .suggestion-item span {
    font-family: 'PKMN RBYGSC', sans-serif;
  }
  
  .silhouette-container {
    text-align: center;
    padding: 20px;
  }
  
  body {
    background-image: url('../../assets/images/Allgenv2.png');
    background-size: auto;
  }
  
  .title-image {
    max-width: 650px;
    max-height: 100px;
  }
  
  .silhouette {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-color: #000;
  }
  
  .hidden {
    display: none;
  }
  
  h1 {
    color: hsl(0, 0%, 20%);
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 78%;
  }
  
  button {
    padding: 10px;
    background-color: transparent; 
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /*button:hover {
    background-color: #090909;
    border-radius: 50%;
  } */
  
  .zoom-buttons-container {
    position: relative; }
  
  .zoom-button-container {
    position: absolute;
    bottom: 130px;
    left: 357px;
    display: flex;
    flex-direction: column;
  }
  
  .zoom-button {
    width: 24px;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 25px;
  }
  
  .zoom-button img {
    width: 100%; 
    height: auto;
  }
  
  .zoom-button:hover {
    background-color: #f0f0f0;
  }
  
  
  
  p {
    font-size: 18px;
    margin-top: 20px;
    position: absolute;
    bottom: 2%;
    left: 50%;
  }
  
  .filtered {
    filter: brightness(0); 
  }
  
  .pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px; 
  }
  
  .pokemon-image {
    width: 200px; 
    height: auto; 
  }
  
  .console-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .console {
    position: relative;
    bottom: 5%;
    width: 780px; 
    height: 510px; 
    background-image: url('../../assets/images/console.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
  }
  
  .screen {
    position: absolute;
    top: 24%; 
    left: 44%; 
    transform: translate(-50%, -50%); 
    width: 31%; 
    height: 35%; 
    overflow: hidden;
  }
  
  .input-container {
    position: absolute;
    bottom: -2%; 
    left: 24.7%;
  }
  
  .description-container {
    position: absolute;
    bottom: 3%;
    width: 40%;
    display: inline-block;
    left: 39%; 
    transform: translateX(-50%); 
    text-align: center; 
  }
  
  .pokemon-info > .hint-button {
    position: absolute;
    top: calc(100% + 90px); 
    left: 70%;
    transform: translateX(-50%);
  }
  
  .suggestion-dropdown {
    position: absolute;
    top: calc(100% + 5px); 
    left: 8%;
    width: 90%; 
    max-height: 150px; 
    overflow-y: auto; 
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  
  .suggestion-dropdown div {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .suggestion-dropdown div:hover {
    background-color: #f0f0f0;
  }
  
  .suggestion-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  
  .suggestion-item img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
  }
  .zoom-message {
    position: absolute;
    bottom: 255px; 
    left: 305px; 
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  
  .zoom-message img {
    width: 70px;
    height: 70px;
    bottom: 40%;
    margin-bottom: 15px; 
  }
  
  .description-toggle-container {
    position: absolute;
    top: 416px; 
    right: 323px; 
  }
  
  .description-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .description-icon {
    width: 60px; 
    outline: none;
    border: none;
    height: 60px; 
  }
  .description-message {
    position: absolute;
    bottom: 190px;
    right: 415px; 
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .desc-pok{
    position: absolute;
    bottom: 80%;
    right: 90%; 
    display: flex;
    align-items: center;
    flex-direction: column;
  
  }
  
  
  .incorrect-answer {
    background-color: #ffcccc; /* Rose clair */
  }
  