@font-face {
  font-family: 'PKMN RBYGSC';
  src: url('../../assets/fonts/PKMN-RBYGSC.woff') format('truetype');
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.description-box {
  margin-top: 200px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.description-box h2 {
  color: #ffffff;
  font-family: 'PKMN RBYGSC', Arial, sans-serif;
}

.p {
  color: #ffffff;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'PKMN RBYGSC';
}

.guess-input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 90%;
  font-family: 'PKMN RBYGSC';
  text-align: center;
}

.submit-button {
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-family: 'PKMN RBYGSC';
  width: 60%;
  overflow: hidden;
}


.correct-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50; /* Couleur de fond verte pour le message de réussite */
  border-radius: 20px; /* Bords très arrondis */
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: 'PKMN RBYGSC';
}

.bottom-box {
  display: flex;
  justify-content: center;
}

.suggestions-box {
  max-height: 190px;
  overflow-y: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
}

.suggestion {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.suggestion img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.suggestion span {
  font-size: 16px;
  font-family: 'PKMN RBYGSC';
  color: #ffffff;
}

.success-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "PKMN RBYGSC";
}

.attempts-box {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.attempts-box h3 {
  color: #ffffff;
  font-family: 'PKMN RBYGSC';
  margin-bottom: 10px;
}

.attempts-box ul {
  list-style-type: none;
  padding: 0;
}

.attempts-box li {
  color: #ffffff;
  font-family: 'PKMN RBYGSC';
  font-size: 16px;
}
